<html>
  <head>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <link rel="stylesheet" href="/css/index.css" />
    <meta charset="utf-8" />
    <title>Email Client</title>
  </head>
  <body>
    <h1><a href="/">Email client</a></h1>
    {{{body}}}
  </body>
</html>